<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42079161450-20er5d8fodmdd60qdr1pj5g5gqg0bcds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42079161450-20er5d8fodmdd60qdr1pj5g5gqg0bcds</string>
	<key>API_KEY</key>
	<string>AIzaSyAN5E9kVaUpzyu2Bc7kFtQKLtlH7Y_Lr4c</string>
	<key>GCM_SENDER_ID</key>
	<string>42079161450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectTc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-tc-00</string>
	<key>STORAGE_BUCKET</key>
	<string>project-tc-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42079161450:ios:a8ca669663027eefe4ce13</string>
</dict>
</plist>